# Auto detect text files and perform LF normalization
* text=auto

# Configure line ending normalisation for this repository.
# See http://schacon.github.io/git/gitattributes.html for more information.
#
# Windows user should use: git config --global core.autocrlf = true
# Unix/Linux users should use: git config --global core.autocrlf = input

# Auto detect text files and perform LF normalization
*       text=auto
*.txt   text
*.xml   text diff=xml

# Shell scripts require LF
*.sh    text eol=lf

# Batch scripts require CRLF
*.bat   text eol=crlf
